{{ with .Site.Data.hero }}
{{ if .enable }}
<section class="hero" id="home">
  <div class="hero_background-svg">
    <svg viewBox="0 0 1437 1180">
      <path fill="#f1f6f9" d="M0 0h1377l60 1010a120 120 0 01-120 120L0 1180z" data-name="Path 1350" />
    </svg>
  </div>
  <div class="hero_footer-svg">
    <img src="images/hero/figure-svg.svg" alt="" />
  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="hero_content">
          <div class="hero_blob">
            <svg viewBox="0 0 550 550">
              <defs>
                <linearGradient id="a" x1=".069" x2=".753" y1=".116" y2=".858" gradientUnits="objectBoundingBox">
                  <stop offset="0" stop-color="#fff" />
                  <stop offset="1" stop-color="#fff" stop-opacity=".012" />
                </linearGradient>
              </defs>
              <g data-name="blob-shape (3)">
                <path class="blob" fill="url(#a)"
                  d="M455.4 151.1c43.1 36.7 73.4 92.8 60.8 136.3-12.7 43.5-68.1 74.4-111.3 119.4-43.1 45-74 104.1-109.8 109-35.9 5-76.7-44.2-111.8-89.2-35.2-45-64.7-85.8-70.8-132.6-6-46.8 11.6-99.6 46.7-136.3 35.2-36.6 88-57.2 142.4-58.8 54.5-1.7 110.6 15.6 153.8 52.2z" />
              </g>
            </svg>
          </div>
          <div class="mb-5">
            <span class="top-title pre-line">{{ .topTitle }}</span>
            {{ .content | markdownify }}
          </div>
          
            <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#f1f6f9; clear:left; font:20px 'Arvo', serif;  width:600px;}
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://gmail.us14.list-manage.com/subscribe/post?u=44425236b0cbb34247730c003&amp;id=e1585a3e9a&amp;f_id=00bdfde0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name </label>
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
	<span id="mce-FNAME-HELPERTEXT" class="helper_text"></span>
</div>
	<div id="mce-responses" class="clear foot">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_44425236b0cbb34247730c003_e1585a3e9a" tabindex="-1" value=""></div>
        <div class="optionalParent">
            <div class="clear foot">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                <p class="brandingLogo"><a href="http://eepurl.com/h8IOwL" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p>
            </div>
        </div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
        
        </div>
      </div>
      <div class="col-lg-6">
        <div class="hero_figure">
          <div class="figure-svg">
            <img src="images/hero/figure-svg.svg" alt="figure-svg" />
          </div>
          <img src="{{ .image | absURL }}" alt="hero-image" style='
                  -webkit-mask: url({{"images/hero/hero-mask-svg.png" | absURL }});
                  -webkit-mask-repeat: no-repeat;
                  -webkit-mask-size: contain;
                  -webkit-mask-position: center center;
                ' />

          {{ if .videoURL }}
          <div class="hero_figure-popup">
            <div class="thumb">
              <img src="{{ .videoThumb }}" alt="popup" />
            </div>

            <a href="{{ .videoURL }}" type="button" class="popup-button text-center big">
              <svg xmlns="http://www.w3.org/2000/svg" width="21" height="24" viewBox="0 0 21 24">
                <path d="M17.961 10.264a2 2 0 010 3.473L2.992 22.29A2 2 0 010 20.554V3.446A2 2 0 012.992 1.71z"
                  data-name="Polygon 4" />
              </svg>
            </a>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>

<section><!--Add Mailchimp newsletter stuff either here or somewhere in the above section--></section>
  
{{ end }}
{{ end }}